.photoEleonora{
  width: 100%;
  max-width: 250px;
  justify-content: center;
}

.contentFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: center;
}

.item{
  display: flex;
  font-family: 'Oxygen', sans-serif;
  justify-content: center;
  padding-bottom: 20px;
  cursor: pointer;
}
  
#eleonora{
  justify-content: center;
}

#content{
  grid-area: ct;
  background-color: rgb(245, 242, 250);
}

.bgPhoto{
  background-color: rgb(138, 8, 94);
  color: aliceblue;
}
