.sectionStyle{
  padding: 20px;
  display: flex;
  }
  
.contentEleonora{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: center;
}
  
.photoEleonora{
  width: 100%;
  max-width: 300px;
  justify-content: center;
}
  
.photoSize{
  display: flex;
  width: 100%;
  max-width: 700px;
}

.contentFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: center;
}

.item{
  display: flex;
  font-family: 'Oxygen', sans-serif;
  justify-content: center;
}
  
#eleonora{
  justify-content: center;
}

#content{
  grid-area: ct;
  background-color: rgb(245, 242, 250);
}
